.Career2_banner {
    margin-top: 80px;
}

.Career2_img {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.Career2_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
    
}

/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
    /* .Career2_img img {
        width: 40vw;
        object-fit: contain;
        float: left;
    } */

    .Career2_img {
        width: 100%!important;
        height: unset;
    }
/* 
    .Career2_box {
        width: 50%!important;
        float: left;
    } */

}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .Career2_img img {
        width: 50vw;
        object-fit: contain;
    }

    /* .Career2_img {
        height: unset;
    } */

}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  
}