.Career2_banner {
    margin-top: 80px;
}

.Career2_img {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.Career2_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}
/* -------------------------small mobile--------------------- */

@media only screen and (max-width: 480px) {
    .Career2_box {
        padding: 0 !important;
    }
    .Career2_img {
        justify-content: center;
    }
    /* .Career2_img img {
        width: 49vw;
    } */
}

/* -------------------------mobile--------------------- */
@media only screen and (max-width: 481px) and (max-width: 739px) {
    /* .Career2_img img {
        width: 49vw;
        object-fit: contain;
        float: left;
    } */

    .Career2_img {
        width: 100% !important;
        height: unset;
        padding: 0 12px;
    }
    .Career2_banner {
        margin-top: 40px;
    }
    /* .Career2_box {
        width: 50% !important;
        float: left;
    } */
}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .Career2_img img {
        width: 50vw;
        object-fit: contain;
    }

    /* .Career2_img {
        height: unset;
    } */
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}
