.main {
  margin-top: 80px;
}

.title {
  text-align: center;
  margin: 0rem 0 60px !important;
}
.content img {
  width: 100%;
  margin: 1.5rem 0 1.5rem;
}
.content h2 {
  margin-top: 2.5rem;
}
.content h3 {
  margin: 2rem 0 1.5rem;
}
.content {
  text-align: justify;
}
.RecruitSideBar {
  position: sticky;
  top: 0;
}
.relatedPost {
  margin-top: 2rem;
}

.relatedPostImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.relatedPostItem {
  width: 95% !important;
  height: 13rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: #000;
  text-decoration: none;
}
.relatedPostInfo {
  padding: 21px;
  border: 1px solid rgb(223, 220, 220);
  max-height: 66px;
}
.relatedPostItem .title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0 !important;
}
.relatedPostItem .short {
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.detailsIcon {
  padding-left: 12px;
}

/* -------------------------PC--------------------- */
@media only screen and (max-width: 1439px) {
  .main {
    margin-top: 15 0px;
  }
  .title {
    margin: 2rem 0 !important;
  }
}
