.containALl{
  position: relative;
}
.containALl div{
  transition: 0.3s;
}
.inputName {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.inputName .inputField {
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-appearance: textfield;
}

.buttonSubmit {
  margin-top: 45px;
  margin: 16px auto;
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 0;
  background-color: #b7b7b7;
  border-radius: 4px;
  cursor: default;
}


.formRecruit {
  position: absolute;
  margin: 90px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 2;
left: 0;
right: 0;
  width: 590px;
  height: 451px;
  background-color: #fff;
  box-shadow: rgb(155 168 165 / 20%) 0px 4px 21px;
  border: none;
  border-radius: 4px;
  margin-top: 90px;
}
.formInfo {
  margin: 90px auto;
  display: flex;
  justify-content: flex-start;
}
.inputField {
  width: 100%;
  margin-top: 16px;
}
.Recruit input {
  outline: none;
  padding: 7px;
}
.Recruit input[type="file"] {
  margin-top: 30px;
}
.Recruit label {
  margin-top: 16px;
  font-weight: bold;
}
.Recruit form {
  width: 490px;
  text-align: center;
  margin: 0;
  background-color: #fff;
  padding: 40px;
  box-shadow: rgb(155 168 165 / 20%) 0px 4px 21px;
  border: none;
  border-radius: 4px;
}

.FormInfoma {
  position: relative;
display: flex;
justify-content: center;

  
}
.title {
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 40px;

}
.containALl {
  background-color: #fcfcfc;
  margin-bottom: -48px;
  padding-bottom: 40px;
}
.titleInfo {
  text-align: justify;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.9rem;
}
.titleInfo> a{
  text-decoration: none;
color: #bf202e;
font-weight: 700;

}
.higlight_text {
  color: #bf202e;
  font-weight: 700;
}
.higlight_light {
  color: #bf202e;
  font-weight: 300;
}

.inputField {
  -webkit-appearance: none;
  margin: 0;
}
