.RecruitPosition {
  margin-top: 48px;
  .MuiBox-root {
    margin: 0 auto;
  }
  .MuiSvgIcon-root {
    color: #bf202e;
  }
  .MuiSvgIcon-root.Mui-completed {
    color: #bf202e;
  }
  .MuiStepIcon-root.Mui-active {
    color: #bf202e;
  }
  .MuiStepIcon-root {
    color: #a8a8a8;
  }
  .MuiButton-root.MuiButton-contained {
    background-color: #bf202e;
  }
  .MuiButton-disabled {
    background-color: transparent;
  }
}

/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
  .RecruitPosition {
    .MuiBox-root {
      width: 100% ;
    }
  }
}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}
