.detailsRecuit {
  width: 90%;
  margin-left: 55px;
  margin-top: 280px;
}

.detailsRecuit h2 {
  margin-top: 65px;
  margin-bottom: 78px;
  font-size: 30px;
}
.detailsSticky{
  position: -webkit-sticky;
  position: sticky;
  top: 12rem;
}

.detailsFlex {
  margin-top: 8px;
}

.detailsFlex h6 {
  display: flex;
  margin-left: 140px;
  margin-top: -18px;
  color: black;
  font-size: 14px;
  font-weight: 800;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.detailsFlex li {
  margin-left: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.detailsFlex ul {
  margin-top: -10px;
}

.detailsFlex ul li {
  padding-top: 7px!important;
}

.detailsBtn  {
  text-align: center;
  margin-top: 16px;
}

.detailsBtn button:hover {
  background-color: #ae1825;
}
.detailsBtn button {
  width: 76%;
  font-size: 19px;
  margin-bottom: 20px;
  height: 68px;
  background-color: #bf202e;
  border-color: #bf202e;
}

.detailsLink {
  margin-left: 43px;
  margin-bottom: 36px;
  cursor: pointer;
}

.detailsLink a {
  border-bottom: 1px solid;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.detailsIcon {
  display: flex;
  width: 117px;
  margin-left: 167px;
  margin-top: -26px;
}

.detailsfb {
  margin-left: 10px;
}

.detailsSidebar h4 {
  font-size: 19px;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}

.detailsSidebar ul {
  margin-left: 10px;
  margin-top: -7px;
}

.detailsSidebar p {
  margin-top: -9px;
  font-size: 16px;
}

.detailsSidebar h5 {
  font-size: 19px;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-weight: 700;
}

.detailsSelect {
  width: 30%;
  margin-left: 15px;
  height: 52px;
  margin-bottom: 20px;
}

.form-check-label {
  margin-top: 5px;
}

.detailscheck {
  margin-top: -3px;
  margin-left: 15px;
  margin-bottom: 14px;
}

.detailsButton {
  text-align: center;
  margin-bottom: 89px;
  margin-top: -5px;
  font-weight: 800;
}

.detailsButton button {
  font-size: 19px;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  box-shadow: 0 0 4px rgb(174 174 174 / 40%);
  border: 1px solid #fff;
  background-color: #fff;
  text-align: center;
  padding: 7px 58px;
}

.detailsButton button:hover {
  background-color: rgb(245, 238, 238);
}

.detailsProcedure {
  width: 100%;
  height: 425px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/img/icon-svg/banner22.jpg");
}

.detailsProcedure h4 {
  color: #fff;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 44px;
  font-size: 24px;
}

.detailsRecruit {
  margin-bottom: 20px;
}

.detailsRecruit .detailsRecruitLI .Banner__buoc:hover {
  /* background-color: rgb(197, 197, 197); */
  color: red;
}

.detailsRecruit:hover {
  color: #bf202e;
}

.detailsRecruitUL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.detailsRecruitLI {
  margin-right: 9px;
    width: 143px;
    margin-left: 9px;
    height: 200px;
  background-color: rgba(248, 247, 247, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  /* opacity: 0.3; */
}

.detailsRecruitLI.active {
  opacity: 1;
  color: #bf202e;
}

.detailsRecruitLI:hover {
  background-color: rgba(207, 203, 203, 0.5);
  color: #bf202e;
}

.detailsRecruitLI.active .detailsRecruiBuoc {
  filter: invert(49%) sepia(67%) saturate(7417%) hue-rotate(356deg)
    brightness(92%);
}

.detailsRecruitLI.active .detailsRecruiUpload {
  filter: invert(49%) sepia(67%) saturate(7417%) hue-rotate(356deg)
    brightness(92%);
}

.detailsRecruitLI.active .detailsRecruiIcon {
  filter: invert(49%) sepia(67%) saturate(7417%) hue-rotate(356deg)
    brightness(92%);
}

.detailsRecruiIcon {
  margin-top: 0px;
  width: 50px;
  height: 60px;
  color: #fff;
  filter: invert(100%) sepia(0) saturate(7464%) hue-rotate(183deg)
    brightness(92%);
}

.detailsRecruiBuoc {
  margin-top: 22px;
  color: #fff;
  z-index: 1;
  opacity: 1;
  font-size: 19px;
}

.detailsRecruiUpload {
    font-size: 14px;
    text-align: center;
    margin-bottom: 100px;
    color: #fff;
    width: 75%;
}

.detailsRecruiBtn {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.detailsRecruiBtn button {
  font-size: 19px;
  display: block;
  margin: 0 auto;
  font-weight: 600;
  box-shadow: 0 0 4px rgb(174 174 174 / 40%);
  border: 1px solid #fff;
  background-color: #fff;
  text-align: center;
  padding: 6px 47px;
}

.detailsApplynow {
  margin-top: 43px;
  width: 100%;
  height: 63px;
  background-color: rgb(184, 30, 30);
}

.detailsApply {
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 12px;
}

.detailsMap {
  margin-top: 42px;
  margin-left: 15px;
}

.detailsMap h5 {
  font-style: italic;
}


.detailsMap p {
  color: black;
  cursor: pointer;
}

.detailsMap ul {
  margin-top: 12px;
}

.detailsText {
  color: black;
  text-decoration: underline;
}

.detailsImage {
  width: 100%;
  height: 316px;
}

.detailsImage img {
  width: 100%;
  height: 100%;
}

.detailsSideBarCity h4 {
  font-size: 19px;
  margin-top: 34px;
  margin-left: 15px;
  margin-bottom: 23px;
  font-weight: 700;
}

.detailsInput {
  width: 30px;
  height: 30px;
}

.detailsRadio {
  width: 19px;
  height: 19px;
  margin-left: -15px !important;
}

.detailsFormcheck {
  margin-top: 29px;
}
 
@media only screen and (max-width: 768px) {
  .detailsRecuit h2 {
    font-size: 13px;
    margin-top: 185px;
    margin-bottom: 25px;
  }

  .detailsRecuit {
    width: 100%;
    margin-left: 0px;
    margin-top: 100px;
  }

  .detailsIcon {
    margin-left: 0px;
    display: flex;
    width: 163px;
    margin-top: -6px;
    float: right;
  }

  .detailsRecruitUL {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 22px;
  }

  .detailsRecruitLI {
    margin-right: 9px;
    width: 96%;
    margin-left: 9px;
    height: 54px;
    background-color: rgba(248, 247, 247, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 6px;
  }

  .detailsProcedure h4 {
    font-size: 15px;
    margin-top: 13px;
  }

  .detailsRecruiBtn {
    font-size: 10px;
    padding: 4px 23px;
  }

  .detailsRecruiBtn button {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .detailsRecruiIcon {
    margin-top: -11px;
    margin-left: -240px;
    width: 34px;
    height: 60px;
  }

  .detailsRecruiBuoc {
    margin-top: -40px;
  }

  .detailsApply {
    font-size: 15px;
    margin-top: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .detailsRecuit h2 {
    font-size: 13px;
    margin-top: 185px;
    margin-bottom: 25px;
  }

  .detailsRecuit {
    width: 132%;
    margin-left: -71px;
    margin-top: 100px;
  }

  .detailsIcon {
    margin-left: 0px;
    display: flex;
    width: 163px;
    margin-top: -6px;
    float: right;
  }

  .detailsRecruitUL {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 22px;
  }

  .detailsRecruitLI {
    margin-right: 9px;
    width: 96%;
    margin-left: 9px;
    height: 54px;
    background-color: rgba(248, 247, 247, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 6px;
  }

  .detailsProcedure h4 {
    font-size: 15px;
    margin-top: 13px;
  }

  .detailsRecruiBtn {
    font-size: 10px;
    padding: 4px 23px;
  }

  .Banner__btoon5 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .detailsRecruiBtn button {
    margin-top: -11px;
    margin-left: -270px;
    width: 34px;
    height: 60px;
  }

  .detailsRecruiBuoc {
    margin-top: -40px;
  }

  .detailsApply {
    font-size: 15px;
    margin-top: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1224px) {
  .detailsRecuit {
    width: 114%;
    margin-top: 200px;
    margin-left: -21px;
  }

  .detailsRecuit h2 {
    margin-bottom: 30px;
  }

  .detailsIcon {
    display: flex;
    width: 117px;
    margin-left: 170px;
    margin-top: -28px;
  }
}

/* p {
  margin-bottom: 1rem !important;
}

ul {
  padding: 0.2rem !important;
} */
/* ul li {
  padding: 0.2rem!important;
} */
