.head_recruit {
  margin: 42px -24px !important;
  height: 107px;
}
.customContainer{
  max-width: 1240px ;
  padding: 0 !important;
}
.head_input {
  position: relative;
  width: 100%;
  height: 103%;
  padding-left: 63px;
  min-height: 38px;
  border:2px solid #aaaaaa;
}
.head_input::placeholder{
  font-weight: 600;
  color:#b2b3b4;
  font-size: 20px;
}

.JobLink_item{
  text-decoration: none;
  color: #000;
}
.JobLink_item:hover{
  color: #000;
}

.sudoLocation {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: 73px;
  width: 10px;
  height: 52px;
  border-right: 1px solid #b6b7b8;
  z-index: 10;

}
.containCheckbox {
  display: flex;
  align-items: center;
 height: 84%;
}
.wrapCheckbox{
  width: 500px;
}
.sudoSearch {
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: 73px;
  width: 10px;
  height: 52px;
  border-right: 1px solid #b6b7b8;
  z-index: 10;
}
.head_checkAddress{
  flex:1;
}
.head_input_search {
  position: relative;
  width: 388px;
  height:60px;
}
.head_input_location{
  position: relative;
  width: 388px;
  height:60px;
  margin-left: 10px;

}



.head_input::placeholder {
  color: #707070;
}

.head_col {
  margin-bottom: 24px;
  padding-left: 24px !important;
}

.searchIcon {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #707070;
  width: 40px;
  font-size: 43px !important;
}

.head_title {
  margin: 0;
}
.head_checkbox {
  /* box-shadow:1px 1px 3px rgba(144, 144, 144, 0.4); */
  border-radius: 0px !important;
  margin-right: -10px;
  width: 84px;
  height: 31px;
}
.head_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0 !important;
  margin-top: 2px;
  font-style: italic;
  padding-right: 1px;
  font-weight: 500;
}

.wrapCategory {
  padding-right: 0;
}
.wrapCategory {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 180px;
  width: 97.5%;
  border-right: 1px solid #a5a6a7;
}

.wrapListJob {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin-left: -12px;
}

.btn_drop {
  display: inline-block;
  font-size: 2.3rem !important;
  padding: 5px;
  color: #a1a1a1;
  font-weight: 100 !important;
}
.btn_drop:hover {
  cursor: pointer;
  color: #bbbbbb;
}
.job_filter_title {
  margin: 12px 24px !important;
}
.filter_item {
  margin: 0px 0px 10px 48px;
  padding: 3px 0 !important;
}

.filter_text:hover {
  color: #bf202e;
  cursor: pointer;
}
.filter_text {
  font-weight: 800;
  text-decoration: none;
  color: #000;
}
.active.job_cate {
  display: block;
}
.job_cate {
  display: none;
  transform-origin: top;
  transition: weight 0.2s;
  animation: drop 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.higlight_text {
  font-weight: bold;
  color: #bf202e;
}
.priority {
  margin: 0 12px;
  width: 150px;
  height: 30px;
  color: #707070;
  border:1px solid rgb(170, 170, 170);
}
.sort__text{
 margin-right: 4px;
  font-size: 20px;
  font-weight: 500;
}
.listJob_count {
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
  margin-bottom: 0!important;
}
.joinJob {
  margin: 48px 24px 41px 26px;
  background-color: #bf202e;
  padding: 24px 0;
  cursor: pointer;
}
.joinJob a{
  text-decoration: none;
}
.joinText {
  text-align: center;
  color: #fff;
  font-weight: 800;
  line-height:22px;
  font-size: 24px;
}
.ul_listFilterbot {
  list-style: none;
  border: none !important;
}
.ul_listFilter div{
  height: 35px;
  margin: 13px 0 !important;
  overflow: hidden;
}
.ul_listFilter p{
  font-weight: 900;
  color:#000 !important;
  font-size: 20px !important;
  margin-left: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.overlay_center {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* .warpItem:hover{
    cursor: pointer;
} */


/* component ItemJob */
.warpItem {
  border-bottom: 1px solid #f4f4f4;
}
.warpIcon_job {
  width: 117px;
  min-width: 100px;
}
.icon_job {
  width: 100%;
  padding: 26px;
}
.title_job,
.text_job {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.text_jobStart,.text_jobEnd,.containApply{
flex:1;
}
.containApply{
  display:flex;
  justify-content: flex-end;
}
.spaceCount{
  display: inline-block;
  margin: 0 6px 0 18px;
}
.title_job{
  margin-top: 20px;
  font-weight: 800;
}

.text_job {
  margin: 0 !important;
}
.text_price{
  margin-top:4px !important;
  margin-bottom: 17px !important;
}
.col_wrap {
  padding-left: 12px;
}
.money_icon {
  position: relative;
  top: -2px;
  border: 2px solid #868686;
  width: 1.1rem !important;
  height: 1.1rem !important;
  margin-right: 4px;
  color:#868686;
}
.head_item {
  border-top: 1px solid #a4a4a4;
}
.active_item.warpItem {
  background-color: #efefef;
}
.active_item .warpIcon_job .icon_job {
  filter: invert(30%) brightness(0.9) sepia(1) hue-rotate(-59deg) saturate(5);
}
.active_item .head_item .title_job {
  color: #bf202e;
}
.ftActive.filter_text{
  color:#bf202e;
}
.foot_text {
  height: 100%;

}
.foot_item {
  border-top: 1px solid #a4a4a4;
  margin: 0 12px;
  height: 60px;
}
.apply_job {

  background-color: #bf202e;
  color: #fff;
  border: 1px solid #ccc;
  padding: 2px 3px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  margin-right: 3px;
}
.apply_job:hover {
  color: #fff;
}
.foot_space {
  position: relative;
  top: 1px;
  left: 11px;
  margin-right: 16px;
}
.wrap_banner {
  position: relative;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 0;
  color: #fff;
  bottom: 0;
  right:0.6px;
}
.banner_cate {
  height: 116px;
  object-fit: cover;
  width: 100%;
}
.btn_pagiActive.btn_pagi {
  background-color: #bf202e;
  color: #fff;
}

.btn_pagi {
  width: 30px !important;
  height: 30px !important;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 26px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #9d9d9d66;
  margin: 0 4px !important;
  color: rgb(124, 124, 124);
}
.btn_pagi:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn_pagiActive.btn_pagi:hover {
  cursor: default;
  opacity: 1;
}

.wrap_all {
  border: 1px solid #a5a6a7;
  margin-bottom: 12px;
}
.banner_foot {
  width: 100%;
  height: 410px;
}
.overlay_title{
  top:50%;
}
.banner_title{
  font-size: 34px;
  line-height:1.7rem;
  text-transform: uppercase;
}
.banner_recruit {
  position: relative;
  margin: 92px 0;
}
.pagination {
  margin-top: 24px;
  margin-bottom: 12px;
}
.col_wrap {
  padding-left: 0;
}
.wrap_border {
  padding-right: 0;
}
.accordionDetails{
  padding: 2px 16px 16px !important;
  }
.sortJob_sm{
  height: 60px;
}
/* @media (max-width:1200px){
  .customContainer{
    max-width:920px ;
  } 
}*/
@media(max-width:1320px){
 
  .customContainer{
    max-width:1140px
  }
  .head_col{
    width: 33.33333%;
    padding: 0 12px !important;
  }
  .head_checkbox{
    margin-right: 24px;
  }
  .head_recruit{
    height: auto;
    margin:42px -12px !important;
  }
  .head_input_location{
    margin-left: 0;
  }
  .wrapCategory{
    width: 100%;
    
  }
  .searchIcon {
    left: 22px;
  
  }
  .sudoLocation,.sudoSearch{
    left:64px;
  }
  .head_input{
    padding-left: 70px;
  }
  .wrapListJob{
    margin-left: 0;
  }
}
@media (max-width:1200px){
  .customContainer{
    max-width:970px ;
  }

  .head_recruit{
    margin:42px -12px !important;
  }
 
  
}
@media (max-width: 992px) {
  .customContainer{
    max-width:720px ;
  }
  .customRow{
    --bs-gutter-x: 0;
  }
  .overlay{
    right: 0;
  }
  
  .foot_space {
    display: none;
  }
  .apply_job {
    width: 100%;
    margin-top: 6px;
    padding: 5px 3px;
  }

  .foot_text {
    flex-wrap: wrap;
  }
  .head_checkbox {
    width: 30px;
  }
  .head_col{
    width: 50% ;
  }
}
@media (max-width: 768px) {
 
  .customContainer{
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  .head_col{
    width: 100%;
  }
 
}
@media (max-width: 576px) {
  .job_address{
display: block;
  }
  .job_quantity{
display: block;
  }
  .spaceCount{
    display: none;
  }
  .foot_text{
   display: block !important;    
  }
  .foot_item{
    height:auto;
  }
  .containApply{
    width: 100% !important;
    margin-bottom: 12px;
  }
  .sortJob_sm {
    flex-wrap: wrap;
  }
  .wrap_selectSort {
    margin: 12px 0 12px 12px;
  }
  .sortJob_sm{
    height: auto;
    margin: 12px 0;
  }
}
