.jobCategory {
  margin-bottom: 20px;
}
.jobCategoryGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.jobRef {
  margin-top: 90px 0;
}
.title h3 {
  text-transform: uppercase;
  margin: 46px 0;
}

.jobCategoryItem {
  width: 170px;
  height: 200px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.jobCategoryItem.active {
  background-color: #bf202e;
  color: #fff;
}
.jobCategoryItem.active .jobCategoryImg {
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(183deg)
    brightness(92%) contrast(111%);
}
.jobCategoryImg {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.jobCategoryName {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
}

.jobCategoryQuantity {
  margin-bottom: 8px;
  text-align: center;
}
.JobList {
  margin-right: 0;
  text-decoration: none;
}

.jobListItem {
  background-color: #bf202e;
  padding: 0 !important ;
  margin: 0;
  min-height: 192px;
}

.jobListTitle {
  margin: 12px 0;
  max-width: 100%;
  /* white-space: nowrap; */
  height: 40px;
  text-overflow: ellipsis !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.jobListTitle h5 {
  padding: 0 50px;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/* -------------------------mobile & tablets--------------------- */
@media only screen and (max-width: 1023px) {
  .jobListTitle {
    margin-bottom: 0px;
  }
}
/* -------------------------small mobile--------------------- */
@media only screen and (max-width: 480px) {
  .jobCategoryGroup {
    gap: 0 20px;
  }
  .jobCategory {
    width: 100%;
    overflow: scroll;
  }
  .jobCategoryImg {
    width: 100px;
    height: unset;
    object-fit: contain;
    padding: 0 20px;
  }
  .jobCategoryName{
    padding: 0 10px
  }
}

/* -------------------------mobile--------------------- */
@media only screen and (min-width: 480px) and (max-width: 739px) {
  .jobCategoryGroup {
    gap: 0 20px;
  }
  .jobCategory {
    width: 100%;
    overflow: scroll;
  }

  .jobCategoryItem {
    width: 300px;
    height: 250px;
  }
  .jobCategoryImg {
    width: 150px;
    height: unset;
    object-fit: contain;
    padding: 0 20px;
  }
}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .jobCategoryGroup {
    gap: 0 20px;
  }
  .jobCategory {
    width: 100%;
    overflow: scroll;
  }

  .jobCategoryItem {
    width: 300px;
    height: 250px;
  }
  .jobCategoryImg {
    width: 180px;
    height: unset;
    object-fit: contain;
    padding: 0 20px;
  }
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}
