.alert {
    width: 150vh;
    height: 93vh;
    background-image: url("../../assets/img/icon-svg/alert1.jpg");
    /* padding-left: 711px;
    padding-top: 485px; */
}

.canvas {
    z-index: 99;
    width: 43px;
    height: 43px;
    background: red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: -436px;
    margin-left: 698px;
    position: fixed;
}