/* .cardBanner {
  margin-top: 1rem;
  gap: 45px;
}
.cardBox {
  min-width: 230px;
  background: #fff;
  gap: 10px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
} */

.FAQ {
  margin-top:  280px;
}
.nav {
  display: flex;
  justify-content: center;
  transform: translateX(-10px);
  margin-bottom: 45px!important;
}
.navItem {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 350px;
  min-height: 70px;
  font-weight: 600;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navItem.active{
  background-color: #bf202e;
  color: #fff;
  border: none;
}
.accordion .MuiPaper-root {
  background-color: red !important;
}

/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
  .cardBanner {
    display: none !important;
  }
  .FAQ {
    margin: 13rem 0 0;
  }
}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .FAQ {
    margin: 13rem 0 0;
  }
}
