.main {
}



.jobName,
.deadLine  {
  font-size: 15px;
}
.address {
  font-size: 11px;
}

h7 {
  position: relative;
  cursor: pointer;
  font-style: italic;
  font-size: 13px;
  color: rgb(177, 0, 0);
}

/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
  .Block__Normal_PP {
    font-size: 13px !important;
  }
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .Block__Normal_PP {
    font-size: 13px !important;
  }
  .main {
    margin-top: 13rem;
  }
  .title {
    margin: 2rem 0 !important;
  }
}
