
.headerWrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.topHeader {
  height: 30px;
  width: 100%;
  background-color: #bf202e;
}
.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconSVG {
  width: 1rem;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(183deg)
    brightness(92%) contrast(111%);
  position: fixed;
  top: 30px;
}

.footerTitle {
    font-size: 50px;
}

.icon li img{
    /* width: 2rem;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    min-width: 30px;
    min-height: 30px;
}

.headerBox{
    /* background: rgba(255, 255, 255, 0.5 ); */
    background-color: #fff;
    box-shadow: 0 4px 10px 4px rgba(197, 197, 197, 0.473);
}

.header{
    display: flex;
    height: 70px;
    align-items: center;
}

.headerMenu {
    display: flex; 
    justify-content: space-between;
    font-weight: 500;
    /* color: #fff; */
}

.headerLogo{
    padding-right: 0;
}

.headerMenu li a {
    /* color: #fff; */
    color: #000;

    text-decoration: none;
}

.headerMenu li:hover a {
    text-decoration: underline;
}

.logoImg{
    width: 10rem;
}

