.Header2 {
  height: 100px;
  width: 100%;
  background-color: #bf202e;
}


.headerWrapper {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

.header2Nav {
  display: none;
}

.headerLogo {
  text-align: left;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconSVG {
  width: 1rem;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(183deg)
    brightness(92%) contrast(111%);
  position: fixed;
  top: 30px;
}

.footerTitle {
  font-size: 50px;
}

.icon li img {
  min-width: 30px;
  min-height: 30px;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.active {
  text-decoration: underline;
}

.headerMenu li a {
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
}

.linkActive {
  text-decoration: underline !important;
}

.menu_show a:hover {
  text-decoration: underline;
  /* color: #bf202e; */
}

.logoImg {
  width: 12rem;
  text-align: center;
}

.logoImg img {
  color: #fff;
}

.Header3 {
  height: 100px;
  width: 100%;
}

.Header3_name {
  display: flex;
  height: 116px;
  align-items: center;
  margin: auto;
  padding: 10px;
}


/* ------------------------- tablets & mobile--------------------- */
@media only screen and (max-width: 768px) {
  .logoImg {
    width: 100%;
    margin-top: 35px;
  }

  .Header3 {
    height: 100px;
    width: 100%;
  }

  .header2Nav {
    display: block;
  }

  .Header3_name p {
    font-size: 11px;
  }

  .menu_icon {
    visibility: visible;
    font-size: 4rem !important;
    color: #fff;
    z-index: 6;
    float: right;
    margin-top: -71px;
  }

  .headerMenu li a {
    color: blue;
  }

  .header__fixx {
    margin-bottom: -6px !important;
  }
  .header__fixloi {
    margin-top: -15px !important;
  }

  .menu_show .active {
    /* height: 255px; */
    display: block;
  }

  .headerMenu {
    display: none;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .active.headerMenu {
    display: block;
    /* box-shadow: 0 0 4px rgb(174 174 174 / 40%); */
    padding: 0px 0 0 0 !important;
  }

  .active.headerMenu li a {
    display: inline-block;
    margin: 12px 0 12px 0;
  }

  .active.headerMenu {
    text-decoration: underline;
  }

  .active.headerMenu li {
    margin-top: -22px !important;
    border-bottom: 1px solid #e1e1e1;
    width: 720px;
    margin: 0 auto;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    -webkit-animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .active.headerMenu li:last-child {
    border-bottom: none;
  }

  .headerMenu {
    width: 100%;
    margin-top: 23px;
    background-color: #fff;
    position: fixed;
    -webkit-animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .menu_show .active {
    right: 0;
  }
  .active.headerMenu li {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .logoImg {
    width: 130px;
    margin-left: 25px;
    margin-top: 30px;
  }

  .header2Nav {
    display: block;
  }

  .Header3_name p {
    font-size: 11px;
  }

  .menu_icon {
    visibility: visible;
    font-size: 4rem !important;
    color: #fff;
    z-index: 6;
    float: right;
    margin-top: -71px;
  }

  .headerMenu li a {
    color: blue;
  }

  .header__fixx {
    margin-bottom: -21px !important;
  }
  .header__fixloi {
    margin-top: -15px !important;
  }

  .menu_show .active {
    
    display: block;
  }

  .headerMenu {
    display: none;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .active.headerMenu {
    display: block;
    /* box-shadow: 0 0 4px rgb(174 174 174 / 40%); */
    padding: 0px 0 0 0 !important;
  }

  .active.headerMenu li a {
    display: inline-block;
    margin: 12px 0 12px 0;
  }

  .active.headerMenu li {
    margin-top: -22px !important;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 auto;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    -webkit-animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .active.headerMenu li:last-child {
    border-bottom: none;
  }

  .headerMenu {
    width: 100%;
    margin-top: 23px;
    background-color: #fff;
    position: fixed;
    -webkit-animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .menu_show .active {
    right: 0;
  }
  .active.headerMenu li {
    display: block;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1224px) {
  .menu_icon {
    opacity: 0;
  }

  .headerMenu li a {
    font-size: 15px;
  }

  .logoImg {
    width: 10rem;
    text-align: center;
    margin-left: 0px;
  }

  .headerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
  }

  .Header3_name p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 17px;
  }
}

@media screen and (min-width: 1224px) {
  .menu_icon {
    opacity: 0;
  }
}
