.Header2 {
  position: fixed;
  z-index: 999;
  height: 70px;
  width: 100%;
  background-color: #bf202e;
}

.headerWrapper {
  width: 100%;
  top: 0;
}

.header2Nav {
  display: none;
}

.headerLogo {
  text-align: left;
}

.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconSVG {
  width: 1rem;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(183deg)
    brightness(92%) contrast(111%);
  position: fixed;
  top: 30px;
}

.footerTitle {
  font-size: 50px;
}

.icon li img {
  min-width: 30px;
  min-height: 30px;
}

.header {
  display: flex;
  height: 70px;
  align-items: center;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -10px;
}

.headerMenu a {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

.headerMenu a.selected {
  padding: 10px 0;
  position: relative;
}
.headerMenu a.selected:before {
  content: "";
  position: absolute;
  left: 35%;
  bottom: 0;
  padding: 10px 0;
  height: 2px;
  width: 25%;
  border-bottom: 2px solid #fff;
  z-index: 1000;
}

.linkActive {
  padding: 10px 0;
  border-bottom: 2px solid #fff;
}

.menu_show a:hover {
  text-decoration: underline;
  /* color: #bf202e; */
}

.logoImg {
  width: 12rem;
  text-align: center;
}

.logoImg img {
  color: #fff;
}

.Header3 img {
  margin-top: 70px;
  width: 100%;
}

.Header3 {
  /* margin-top: 70px; */
}

.Header3_name {
  display: flex;
  height: 70px;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.formInputMb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formInputMb button {
  height: 48px;
  width: 30vw;
  border: none;
  outline: none;
  background-color: #bf202e;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.formInputMb .inputMb {
  height: 48px;

  width: 70vw;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 4px 8px;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.activeNav {
  opacity: 1;
  /* margin-top: 100px;   */
}

/* ------------------------- tablets & mobile--------------------- */
@media only screen and (max-width: 768px) {
  .logoImg {
    width: 100%;
    margin-top: 35px;
  }

  .Header3 {
    /* height: 70px; */
    width: 100%;
  }

  .header2Nav {
    display: block;
  }

  .Header3_name p {
    font-size: 11px;
  }

  .menu_icon {
    visibility: visible;
    font-size: 4rem !important;
    color: #fff;
    z-index: 6;
    float: right;
    margin-top: -50px;
  }

  .headerMenu li a {
    color: blue;
  }

  .header__fixx {
    margin-bottom: -6px !important;
  }
  .header__fixloi {
    margin-top: -15px !important;
  }

  .menu_show .active {
    /* height: 255px; */
    display: block;
  }

  .headerMenu {
    display: none;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .active.headerMenu {
    display: block;
    /* box-shadow: 0 0 4px rgb(174 174 174 / 40%); */
    padding: 0px 0 0 0 !important;
  }

  .active.headerMenu li a {
    display: inline-block;
    margin: 12px 0 12px 0;
    color: #000;
  }

  .active.headerMenu {
    text-decoration: underline;
  }

  .active.headerMenu NavLink {
    margin-top: -22px !important;
    border-bottom: 1px solid #e1e1e1;
    width: 720px;
    margin: 0 auto;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    -webkit-animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .active.headerMenu li:last-child {
    border-bottom: none;
  }

  .headerMenu {
    width: 100%;
    margin-top: 23px;
    background-color: #fff;
    position: fixed;
    -webkit-animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .menu_show .active {
    right: 0;
  }
  .active.headerMenu li {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .logoImg {
    width: 130px;
    margin-left: 25px;
    margin-top: 30px;
  }

  .header2Nav {
    display: block;
  }

  .Header3_name p {
    font-size: 11px;
  }

  .menu_icon {
    visibility: visible;
    font-size: 4rem !important;
    color: #fff;
    z-index: 6;
    float: right;
    margin-top: -50px;
  }

  .headerMenu li a {
    color: #000;
  }

  .header__fixx {
    margin-bottom: -21px !important;
  }
  .header__fixloi {
    margin-top: -15px !important;
  }

  .menu_show .active {
    display: block;
  }

  .headerMenu {
    display: none;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .active.headerMenu {
    display: block;
    /* box-shadow: 0 0 4px rgb(174 174 174 / 40%); */
    padding: 0px 0 0 0 !important;
  }

  .active.headerMenu li a {
    display: inline-block;
    margin: 12px 0 12px 0;
  }

  .active.headerMenu li {
    margin-top: -22px !important;
    border-bottom: 1px solid #e1e1e1;
    margin: 0 auto;
    padding-right: var(--bs-gutter-x, 0.75rem) !important;
    padding-left: var(--bs-gutter-x, 0.75rem) !important;
    -webkit-animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .active.headerMenu li:last-child {
    border-bottom: none;
  }

  .headerMenu {
    width: 100%;
    margin-top: 23px;
    background-color: #fff;
    position: fixed;
    -webkit-animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .menu_show .active {
    right: 0;
  }
  .active.headerMenu li {
    display: block;
  }
  .headerMenu a {
    font-size: 12px !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1224px) {
  .menu_icon {
    opacity: 0;
  }

  .Header2 {
    height: 53px;
  }
  .header {
    display: flex;
    height: 47px;
    align-items: center;
  }

  .headerMenu a {
    font-size: 12px !important;
  }

  .Header3 img {
    width: 100%;
    margin-top: 53px;
  }

  .logoImg {
    width: 10rem;
    padding-left: 39px;
  }

  .headerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: -18px;
    padding-bottom: 11px;
    height: 46px;
    align-items: center;
  }

  .Header3_name p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 17px;
  }
}

@media screen and (min-width: 1224px) {
  .menu_icon {
    opacity: 0;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1500px) {
  .Header2 {
    height: 83px;
    width: 100%;
    background-color: #bf202e;
  }

  .header {
    display: flex;
    height: 80px;
    align-items: center;
  }

  .Header3 img {
    width: 100%;
    margin-top: -17px;
  }
}

@media screen and (min-width: 2560px) and (max-width: 2600px) {
  .Header2 {
    height: 130px;
  }

  .header {
    height: 130px;
  }
}

@media screen and (max-width: 425px) {
  .Header3 img {
    width: 100%;
    margin-top: -85px;
  }

  ul li {
    padding-top: 0px;
  }

  .active.headerMenu li {
    border-bottom: 1px solid #e1e1e1;
    width: 720px;
    margin: 0 auto;
    -webkit-animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: dropDown 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    padding-left: 10px;
    transition: all 0.3s;
  }

  .Header2 {
    height: 60px;
  }

  .logoImg {
    width: 100%;
    margin-top: 9px;
  }

  .menu_icon {
    font-size: 2rem !important;
  }

  .headerMenu {
    margin-top: 0px;
    box-shadow: 0px 1px #e1e1e1;
  }

  .headerMenu li a {
    font-size: 19px;
    font-weight: 500;
  }

  .active.headerMenu li a {
    display: inline-block;
    margin: 6px 0 9px 0;
  }
}
