
.headerWrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.topHeader {
  height: 30px;
  width: 100%;
  background-color: #bf202e;
}
.icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconSVG {
  width: 1rem;
  filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(183deg)
    brightness(92%) contrast(111%);
  position: fixed;
  top: 30px;
}

.footerTitle {
    font-size: 50px;
}

.icon li img{
    /* width: 2rem;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
    min-width: 30px;
    min-height: 30px;
}
.nav_menu{
   width: 100%;
}
.headerBox{
    /* background: rgba(255, 255, 255, 0.5 ); */
    background-color: #fff;
    box-shadow: 0 4px 10px 4px rgba(197, 197, 197, 0.473);
}

.header{
    display: flex;
    height: 70px;
    align-items: center;
}

.headerMenu {
    display: flex; 
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
    /* color: #fff; */
}

.headerLogo{
    padding-right: 0;
}

.headerMenu li a {
    /* color: #fff; */
    color: #000;

    text-decoration: none;
}

.headerMenu li a:hover  {
    text-decoration: underline;
}

.logoImg{
    width: 10rem;
}
.menu_icon{
    visibility: hidden;
        transition: color 0.5s ease;
}
.menu_icon:hover{
    cursor:pointer;
    color:#7e7e7e;
}
/* RESPONESIVE  */
@media (max-width:992px) {
    .menu_icon{
        visibility: visible;
        font-size: 3rem !important;
        color:#646464;
        z-index: 6;
    }
    .headerMenu{
        display: none;
    }
    .header{
        justify-content:space-between;
    }
    .active.headerMenu{
        display: block;
        background-color: #fff;
        padding:24px 0;

    }
    .active.headerMenu li a{
        display: inline-block;
         margin: 12px 0;
         padding-left:24px
         
    }
    .menu_show .active{
        position: fixed;
        left: 0;
        right: 0;

    }
    .active.headerMenu li{
        display: block;
    }
}

