/* .Recruit {
  margin-top: 112px;
} */

.Recruit h3 {
  font-weight: bold;
  font-size: 30px;
}

.jobTitle {
  font-size: 28px;
  color: #c50c0c;
  text-transform: uppercase;
  font-weight: bold;
}

.Recruit form {
  width: 490px;
  text-align: center;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 40px;
  box-shadow: rgb(155 168 165 / 20%) 0px 4px 21px;
  border: none;
  border-radius: 4px;
}
.Recruit input {
  width: 100%;
  border: 1px solid #ccc;
  background-color: transparent;

  outline: none;
  padding: 7px;
}
.Recruit input[type="file"] {
  margin-top: 30px;
}
.Recruit label {
  margin-top: 16px;
  font-weight: bold;
}
.inputField {
  width: 100%;
  margin-top: 16px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 20px;
}

.formRecruit {
  margin: 90px auto 16px;
  display: flex;
  justify-content: space-between;
}

.inputFile {
  margin: 16px auto;
}

.inputName {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.inputLeft,
.inputRight {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}
.desc {
  margin-top: 32px;
  text-align: left;
  line-height: 20px;
}

.desc ul li {
  margin: 20px 0;
  padding: 0 !important;
}
.desc p {
  font-weight: bold;
}

.buttonSubmit {
  margin: 16px auto;
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 0;
  background-color: #b7b7b7;
}
.buttonSubmit.active {
  margin: 16px auto;
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 0;
  background-color: #c50c0c;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.noCV {
  margin-top: 32px;
  width: 100%;
  border: none;
  outline: none;
  padding: 16px 0;
  background-color: #b7b7b7;
  font-weight: bold;
}

.noCV a {
  text-decoration: none;
  color: black;
}

.inputUrl {
  margin-bottom: 20px;
}
/* -------------------------small mobile--------------------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .Recruit h3 {
    font-size: 24px;
  }

  .jobTitle {
    font-size: 20px;
  }
}

/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
  .Recruit form {
    padding: 10px;
  }
  .Recruit {
    margin-top: 4rem!important;
  }
  .formRecruit {
    margin-top: 45px;
  }
  .desc ul {
    padding: 0;
  }
}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .Recruit {
    margin-top: 50px;
  }
  .formRecruit {
    margin-top: 70px;
  }
  .formRecruit form {
    width: 100%;
  }
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}
