.accordion {
    margin: 0 100px;
}
.captionWrapper {
    margin-top: 25px;
}
.caption::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 100%;
    background-color: #bf202e;
    border-radius: 10px 0 0 10px;
}

.caption {
    height: 70px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px 0 0 10px;
}
.detail p {
    padding: 25px 45px 25px 45px;
    border-bottom: 1px solid #ddd;
    margin: 0 !important;
}

/* -------------------------tablets--------------------- */
@media only screen and (max-width: 1023px) {
    .accordion {
        margin: 0;
    }
    .detail p {
        padding: 10px;
        margin: 0;
    }
}
