.jobName {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  display: flex;
}
.jobName:hover {
  color: rgb(177, 0, 0);
}
.deadLine {
  padding-left: 22px;
}
.address {
  font-size: 11px;
  font-weight: 900;
}
.link {
  text-decoration: none;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  color: rgb(177, 0, 0);
}
.main{
  margin-top: 13rem;
}

.head_item {
  /* border-top: 1px solid #a4a4a4; */
  position: relative;
  
}

.head_item .tag {
  color: #fff;
  background-color: #ff0000;
 padding: 0 10px;
  border-radius: 11px 11px 11px 11px;
  height: 25px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  animation: RecruitSideBar_my__0VfIh 700ms infinite;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
}

/* .head_item .tag::after {
  content: "";
  display: block;
  border: 5px solid;
  position: absolute;
  top: 100%;
  right: 0;
  border-color: #970000 transparent transparent #9b0000;
  filter: brightness(0.8);
} */

@-webkit-keyframes my {
  0% {
    color: #FFFA4D;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #FFFA4D;
  }
}
@-moz-keyframes my {
  0% {
    color: #FFFA4D;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #FFFA4D;
  }
}
@-o-keyframes my {
  0% {
    color: #FFFA4D;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #FFFA4D;
  }
}
@keyframes my {
  0% {
    color: #FFFA4D;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #FFFA4D;
  }
}

/* -------------------------mobile & tablets--------------------- */
@media only screen and (max-width: 1023px) {
  .link,
  .deadLine {
    text-align: center;
  }
}
/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
  .Block__Normal_PP {
    font-size: 13px !important;
  }
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .Block__Normal_PP {
    font-size: 13px !important;
  }
  .main {
    margin-top: 14rem;
  }
  .title {
    margin: 2rem 0 !important;
  }
}
