.jobName {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
}
.jobName:hover {
  color: rgb(177, 0, 0);
}
.deadLine {
  font-size: 15px;
}
.address {
  font-size: 11px;
  font-weight: 900;
}
.link {
  text-decoration: none;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  color: rgb(177, 0, 0);
}
.main{
  margin-top: 13rem;
}

.block {
  min-height: 86px;
}

/* -------------------------mobile & tablets--------------------- */
@media only screen and (max-width: 1023px) {
  .link,
  .deadLine {
    text-align: center;
  }
}
/* -------------------------mobile--------------------- */
@media only screen and (max-width: 739px) {
  .Block__Normal_PP {
    font-size: 13px !important;
  }
}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .Block__Normal_PP {
    font-size: 13px !important;
  }
  .main {
    margin-top: 14rem;
  }
  .title {
    margin: 2rem 0 !important;
  }
}
