.footerBox{
    height: 635px;
    background-color: #bf202e;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
    color: #fff;
    padding-top: 45px;
}

.footerContainer {
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}

.logoImg {
    width: 10rem;
}

.fb {
    height: 200px;
    width: 200px;
    z-index: 5;
}

.footerContent ul li a{
    color: #fff;
    text-decoration: none;
    padding-right: 0;
}

ul li {
    padding-top: 20px;
}

ul li:hover a{
    text-decoration: underline;
}

.listItem {
    /* padding-right: 0!important; */
    padding: auto 0!important;
}

.listItem .footerTitle:last-child {
    padding-left: 0;
}

