.footerBox {
  min-height: 635px;
  background-color: #bf202e;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  color: #fff;
  padding-top: 45px;
  margin-top: 3rem;
}

.footerContainer {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  height: 100%;
}

.logoImg {
  width: 10rem;
}

.fb {
  height: 200px;
  width: 200px;
  z-index: 5;
}
.textContent {
  margin-left: 15px;
}
.footerContent ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 0;
}
.footerContent ul {
  margin-left: -8px;
  padding-left: 0;
}
.p_Element {
  margin-bottom: 0;
  color: #f5f5f5;
}
.icon_location {
  font-size: 2.1rem !important;
}
.ul_Element {
  margin-left: -8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ul_Element li a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #f5f5f5 !important;
}
.ul_Element li a:hover {
  text-decoration: underline;
}
.office_title {
  font-weight: 400;
}
.map_link {
  display: block;
  font-weight: 700 !important;
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 22px;
}
.ul_left {
  margin-left: -6px;
}
.map_link:hover {
  text-decoration: underline;
}
ul li {
  padding-top: 20px;
}

.listItem {
  /* padding-right: 0!important; */
  padding: auto 0 !important;
}
.title_heading {
  margin-top: 46px;
  margin-bottom: 15px;
  font-size: 19px;
  min-height: 40px;
  font-weight: bold;
}
.listItem .footerTitle:last-child {
  padding-left: 0;
}
.copyright {
  display: block;
  padding: 40px 0 60px 0;
  margin-left: 37px;
  text-decoration: none;
  color: #f5f5f5;
  margin-bottom: 0 !important;
}
.copyright a {
  text-decoration: none;
  color: #f5f5f5;
}
.copyright a:hover {
  color: #f5f5f5;
  text-decoration: underline;
}

/* -------------------------small mobile--------------------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
}

/* -------------------------mobile--------------------- */

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}

/* -------------------------PC--------------------- */
@media only screen and (max-width: 1439px) {
  .title_heading {
    margin: 30px 0;
  }
  .copyright {
    padding: 30px 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 739px) {
  .title_heading {
    margin: 20px 0 0px;
  }
}
