.Vancancies {
  background-color: #eeeeee;
  padding: 16px 0 14px 0;

}
.vancancieImage {
  width: 64px;
  height: 64px;
}

.title {
  margin-bottom: 44px;
  text-transform: uppercase;
  margin-top: 44px;
}

.vancanciesGroup {
  align-items: center;
}
.vancanciesGroup:hover {
  color: #bf202e;
  border: 1px solid #bf202e;
}
.vancanciesGroup:hover .vancancieImage {
  filter: invert(30%) brightness(0.9) sepia(1) hue-rotate(-59deg) saturate(5);
}
.containerItem:hover {
  cursor: pointer;
}

.vancancieAddress {
  margin: 0;
}
.vancancieAddress,
.vancancieSalary {
  font-size: 16px;
  font-style: italic;
  text-overflow: ellipsis;
}

.vancancieTitle {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
.vancancieTitle,
.vancancieImage,
.vancanciesGroup {
  transition: 0.2s ease all;
}

.containerItem {
  padding-bottom: 24px;
  transition: 0.2s ease all;
  text-decoration: none;
  color: #000;
}
.vancanciesGroup {
  min-height: 107px;
  border: 1px solid #000;
  width: 100%;
}
.vancanciesText {
  overflow: hidden;
  margin-top: 16px;
}
.containerImage {
  padding: 0 13px;
}
.vancancieSalary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.vancanciesBtn {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  box-shadow: 0 0 4px rgba(174, 174, 174, 0.4);
  border: 1px solid rgba(174, 174, 174, 0.4);
  background-color: #fff;
  text-align: center;
  padding: 8px 47px;
}
.vancanciesBtn a {
  color: #000;
  text-decoration: none;
}
.vancanciesBtn a:hover{
  color: #000;
  text-decoration: none;
}
.overlay {
  position: relative;
  padding: 12px 0;
  top: -34px;
  background: #eeeeee;
  box-shadow: 0px -16px 12px 13px rgba(238, 238, 238,0.9);
  margin-top: -20px;
  border-radius: 4px;
}
