.SearchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 998;
  transform: translateY(100%) translateX(-50%);
  color: #fff;
}
.SearchBox input,
.SearchBox select {
  height: 48px;
  width: 100%;
  border: none;
  padding-left: 60px;
  outline: none;
}

.InputBox,
.SelectWrapper {
  width: 40%;
}
.InputBox svg,
.SelectWrapper svg {
  width: 40px;
  height: 40px;
}
.SearchBox input {
  border-radius: 4px 0 0 4px;
}
.SearchBox button {
  height: 48px;
  width: 20%;
  border: none;
  outline: none;
  background-color: #c03b47;
  color: #fff;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
  font-size: 20px;
}

.SearchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0,.3);
  border-radius: 4px;
  height: 72px;
  padding: 8px 12px;
  font-size: 1rem;
}

.SelectWrapper select option {
  padding: 0;
  height: 32px;
}
/* -------------------------mobile & tablets--------------------- */
@media only screen and (max-width: 1023px) {
  .jobListTitle {
    margin-bottom: 0px;
  }
}
/* -------------------------small mobile--------------------- */
@media only screen and (max-width: 480px) {
  .jobCategoryGroup {
    gap: 0 20px;
  }
  .jobCategory {
    width: 100%;
    overflow: scroll;
  }
  .jobCategoryImg {
    width: 100px;
    height: unset;
    object-fit: contain;
    padding: 0 20px;
  }
  .jobCategoryName{
    padding: 0 10px
  }
}

/* -------------------------mobile--------------------- */
@media only screen and (min-width: 480px) and (max-width: 739px) {

}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}
