@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "~rsuite/dist/rsuite.min.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rs-picker-default:not(.rs-picker-disabled) .rs-btn-active, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,.rs-picker-default .rs-picker-toggle {
  border: none !important;

}
.rs-picker-toggle-active, .rs-picker.rs-picker-focused { 
  box-shadow: none !important;
}

.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
  padding-right: 32px;
  margin-left: 45px;
  height: 48px;
}
.rs-picker-toggle .rs-picker-toggle-placeholder,.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color:rgb(0, 0, 0,0.4);
  font-size:16px;
  position:absolute;
  top:15px;

}
.rs-picker-menu.rs-picker-check-menu, .rs-picker-menu.rs-picker-select-menu {
  min-width: 554.797px !important;
  z-index: 998;
}

.rs-picker-select-menu.rs-picker-select-menu-items::-webkit-scrollbar {
  width: 10px;
}
.rs-picker-select-menu.rs-picker-select-menu-items::-webkit-scrollbar-track {
  background: #ddd;
}
.rs-picker-select-menu.rs-picker-select-menu-items::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}
.rs-picker-select-menu.rs-picker-select-menu-items::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-light);
  border-radius: 30px;
}

.rs-picker-select-menu-item.rs-picker-select-menu-item-focus, .rs-picker-select-menu-item:focus, .rs-picker-select-menu-item:hover {
  background-color: #c03b47;
  color:#fff;
  transition: all 0.1s ease-in-out;
}
.rs-btn-close .rs-icon,.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
  top: 4px;
}
.rs-btn-close .rs-icon{
  display:none;
}
a:active, a:focus, a:hover {
  text-decoration: none !important;
}

.MuiButton-textPrimary {
  color:#bf202e !important
}