.banner img {
  display: inline-block;
}

.banner img:after {
  content: "";
  background: rgba(145, 143, 143, 0.9);
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
}

img {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  object-fit: cover;
}
/* -------------------------small mobile--------------------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
}

/* -------------------------mobile--------------------- */
@media only screen and (min-width: 481px) and (max-width: 739px) {

}

/* -------------------------tablets--------------------- */
@media only screen and (min-width: 740px) and (max-width: 1023px) {

}

/* -------------------------PC--------------------- */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  
}
