.Slider {
  .slick-dots {
    position: absolute;
    bottom: 0;
    li {
      button {
        border-radius: 50%;
        border: 1px solid #fff;
        margin: -16px 0px;
        width: 15px;
        height: 15px;
      }
      button:before {
          color: transparent;
      }
    }
    li.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}
